html,body {
    padding-top: 10px;
    color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #f7e9d7; Colore di sfondo */
   
    font-family: 'Pencerio-Hairline'; /* Font di testo */
    background: url('nathan-dumlao-KMEqlxz3mKc-unsplash.jpg') no-repeat center center fixed;
    font-weight:bolder;
    /* background-size: cover;
    color: #333; */
}

.login {
    background: url('login.jpg') ;
    background-size: cover;
}


@font-face {
    font-family: 'Pencerio-Hairline';
    src: url('../fonts/Pencerio-Hairline.woff2') format('woff2'),
         url('../fonts/Pencerio-Hairline.woff') format('woff'),
         url('../fonts/Pencerio-Hairline.ttf') format('truetype');
    font-weight: 50;
    font-display: swap;
    font-style: normal;
  }
  
h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    font-family: 'Arial', sans-serif; /* Font di testo */
    border: 2px solid #ccc;
    padding: 6px;
    display: block;
    margin-bottom: 10px;
    width: 96%;
}

button {
    font-family: 'Arial', sans-serif; /* Font di testo */
    background-color: #4285f4;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

form input[type="search"], form button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* hover delle immagini */

.card-img-top {
    transition: transform 0.4s ease-in-out;
    /* Animazione fluida */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: auto;
    margin: 10px auto;
    height: auto;
}

.card-img-top:hover {
    transform: scale(1.1);
    /* Aumenta le dimensioni dell'immagine */
}

/* hover del tasto acquista */

.btn-top {
    transition: transform 0.3s ease-in-out;
    /* Animazione fluida */
}

.btn-top:hover {
    transform: scale(1.1);
    /* Aumenta le dimensioni dell'immagine */
}

.card {
    background: none;
    border: none;
    align-items: center;
    width: auto;
    margin: 10px;
    height: auto;
   /* background-color: #f7e9d7;  */
    /* background: linear-gradient(120deg, #f5f5dc, #a67c52); */
}

.logo {
    border-radius: 50%;
    position: fixed;
    top: 30px;
    left: 10px;
    width: 50px;
    height: 50px;
}


.sfondo {
    border-radius: 10px;
}

/* Modifica la larghezza del menu a tendina */
.custom-dropdown {
    max-width: 5px;  /* Puoi cambiare questa larghezza */
    max-height: 40px;  /* Puoi cambiare questa altezza */
    background-color: transparent; /* Colore di sfondo chiaro */
    border: none;
  }
  
  /* Cambia la dimensione del testo nel menu a tendina */
  .custom-dropdown .dropdown-item {
    font-size: 1.1rem;  /* Imposta la dimensione del testo */
    padding: 0px 25px ;  /* Puoi regolare il padding */
    background-color: transparent; /* Colore di sfondo chiaro */
  }
